<?xml version="1.0" encoding="UTF-8"?>
<configuration >

	<jmxConfigurator/>

	<property name="LOG_DIR" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />

	<!--Console配置-->
	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n" />
	<include resource="logback/console-appender.xml" />

	<!-- Debug配置 -->
	<property name="DEBUG_LOG_FILE" value="${LOG_DIR}/debug.log"/>
	<property name="DEBUG_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30}.%M:%L - %msg %n" />
	<include resource="logback/debug-appender.xml" />


	<!-- Access配置 -->
	<property name="API_ACCESS_LOG_FILE" value="${LOG_DIR}/api_access.log"/>
	<property name="API_ACCESS_LOG_PATTERN" value="%msg%n" />
	<include resource="logback/api-access-appender.xml" />


	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="DEBUG_LOG_APPENDER" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="!dev">
		<root level="INFO">
			<appender-ref ref="DEBUG_LOG_APPENDER" />
		</root>
	</springProfile>


</configuration>